<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button routerLink="/main-screen"> <!--botão de voltar-->
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Configurações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-avatar> <!-- Perfil-->
  <img alt="perfil" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
</ion-avatar>

<ion-icon name="create-outline"></ion-icon> <!-- Botão de editar perfil-->



<ion-content class="main-content">
  <div class="Usuário">
    Seu Usuário
  </div>  
    <ion-button expand="full" class="usuario" style="--background: #e2e8eb;"></ion-button>
  

  <div class="Nome">
     Seu Nome
  </div>   
    <ion-button expand="full" class="nome" style="--background:#e2e8eb;"></ion-button>
  

  <div class="Sobre">
    Sobre Você
  </div>  
    <ion-button expand="full" class="sobre" style="--background: #e2e8eb;"></ion-button>
  
</ion-content>



<ion-content>
  <ion-item>
    <ion-label>
      <ion-icon name="logo-instagram"></ion-icon>
      Nos siga no Instagram
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <ion-icon name="mail-outline"></ion-icon>
      Fale Conosco: mindcode.br&#64;gmail.com
    </ion-label>
  </ion-item>


  <ion-item>
    <ion-label>
      <ion-icon name="logo-github"></ion-icon>
      Confira o SouceCode aqui: _link_
    </ion-label>
  </ion-item>
</ion-content>

<ion-button class="botao-sair" routerLink="/home">Sair</ion-button>

