<ion-content class="cadastro-content" fullscreen>
  <div class="cadastro-box">
    <h1>Cadastro</h1>
    <hr style="background-color: black;">

<form (ngSubmit)="register()">

  <!-- Username -->
  <div class="form-group">
    <ion-item lines="none">
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-input
        placeholder="Escolha um usuário"
        [(ngModel)]="username"
        name="username"
        type="text"
      ></ion-input>
    </ion-item>
    <p class="error-message" *ngIf="usernameError">{{ usernameError }}</p>
  </div>

  <!-- Email -->
  <div class="form-group">
    <ion-item lines="none">
      <ion-icon name="at" slot="start"></ion-icon>
      <ion-input
        placeholder="Escolha um e-mail"
        [(ngModel)]="email"
        name="email"
        type="email"
      ></ion-input>
    </ion-item>
    <p class="error-message" *ngIf="emailError">{{ emailError }}</p>
  </div>

  <!-- Senha -->
  <div class="form-group">
    <ion-item lines="none">
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input
        placeholder="Escolha uma senha"
        [(ngModel)]="password"
        name="password"
        type="password"
      ></ion-input>
    </ion-item>
    <p class="error-message" *ngIf="passwordError">{{ passwordError }}</p>
  </div>

  <!-- Botão -->
  <ion-button
    type="submit"
    expand="block"
    fill="clear"
    class="btn-cadastrar"
  >
    Cadastrar
  </ion-button>
</form>


    <p class="login-text">
      Já possui conta? <a routerLink="/login">Faça login.</a>
    </p>
  </div>
</ion-content>
