ion-header.custom-header {
  background-color: #2F324E;
  padding: 1rem 0;
  text-align: center;

  .score-container {
    background-color: #525890;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 10px #00000055;

    .icon {
      width: 20px;
      margin-right: 8px;
    }

    .score {
      color: white;
      font-weight: bold;
      font-size: 1.2rem;
    }
  }
}

.main-content {
  background: #ffffff;
  padding: 1.5rem;

  .category-button {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

ion-button.custom-btn {
  width: 100%;
  max-width: 320px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1.5rem;
  border-radius: 16px;
  font-weight: bold;
  font-size: 1.1rem;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
  text-transform: none;
  letter-spacing: 0;
  --border-radius: 16px;
  --box-shadow: none;

  // Isso garante que TODA a área fique pintada
  --background: transparent;
  background-color: var(--custom-bg, #2F324E); // usa uma variável custom

  color: white; 

  .text {
    flex: 1;
    text-align: left;
  }

  ion-icon {
    font-size: 1.5rem;
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 2px solid rgba(255, 255, 255, 0.4);
    }
  }
}

  .front custom-btn {
    --background: #2F324E;
    --color: #ffffff;
  }

  .back custom-btn {
    --background: #da69e0;
    --color: #ffffff;
  }

  .full custom-btn {
    --background: #2F324E;
    --color: #ffffff;
  }
}

ion-toolbar.bottom-bar {
  --background: #2F324E;
  // border-radius: 0 0 1rem 1rem;
  padding: 1rem 1rem;

  ion-button {
    color: #ffffff;
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
}
