<ion-header class="custom-header">
  <div class="score-container">
    <img src="assets/icon/diamond.svg" alt="Ícone" class="icon" />
    <span class="score">000</span>
  </div>
</ion-header>

<ion-content class="main-content">
  <div class="category-button front">
    <ion-button routerLink="/front-mode" expand="block" class="custom-btn front" style="--background: #2F324E;">
    Front-End
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="category-button back">
    <ion-button expand="block"class="custom-btn back" 
    style="--background: #CE5EED;" [routerLink]="['/back-mode']">
    Back-end
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="category-button full">
    <ion-button expand="block" class="custom-btn full" style="--background: #2F324E;" [routerLink]="['/full-mode']" routerLinkActive="router-link-active" >
    Full-Stack
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="bottom-bar">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="home-outline" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons style="justify-content:center">
       <ion-button>
        <ion-icon name="trophy-outline" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="settings-outline" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
