<ion-content class="login-options-screen" fullscreen>

  <div class="background-image">
    <img src="assets/logo/2_logo_mindcode.jpg" alt="MindCode Logo" class="logo" />
  </div>

  <div class="overlay">
    <img src="assets/logo/background.png" alt="Background" class="logo" />
  </div>

  <div class="container">
    <img src="assets/logo/1_logo_mindcode.png" alt="MindCode Logo" class="logo" />

    <button class="custom-button" [routerLink]="['/registration']">Cadastre-se</button>
    <button class="custom-button" [routerLink]="['/login']">Já possuo conta</button>
  </div>
</ion-content>
