<ion-content class="home-screen" fullscreen>
  <!-- Imagem de fundo -->
  <div class="background-image">
    <img src="assets/logo/2_logo_mindcode.jpg" alt="MindCode Logo" class="logo" />
  </div>

  <!-- Camada preta transparente -->
  <div class="overlay">
    <img src="assets/logo/background.png" alt="Background" class="logo" />
  </div>

  <!-- Conteúdo principal -->
  <div class="container">
    <img src="assets/logo/1_logo_mindcode.png" alt="MindCode Logo" class="logo" />
    <p class="sponsored">Sponsored by MindCode 2025</p>
  </div>
</ion-content>
